example-blog/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
  <!--

    Mule jive Cloud Connector Copyright (c) MuleSoft, Inc. All rights
    reserved. http://www.mulesoft.com The software in this package is
    published under the terms of the CPAL v1.0 license, a copy of which
    has been included with this distribution in the LICENSE.txt file.
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:jive="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-jive"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://repository.mulesoft.org/releases/org/mule/modules/mule-module-jive http://repository.mulesoft.org/releases/org/mule/modules/mule-module-jive/1.0/mule-jive.xsd">

  <jive:config username="${jiveUsername}" password="${jivePassword}" endpoint="https://apisandbox.jive.com/apps/services/a/29.0" />

  <flow name="CreateBlog">
    <http:inbound-endpoint host="localhost" port="9090" path="jive-demo-create-blog" />
    <jive:create type="BLOG">
      <jive:entity>
        <userID>#[map-payload:userID]</userID>
        <display>#[map-payload:display]</display>
        <displayName>#[map-payload:displayName]</displayName>
      </jive:entity>
    </jive:create>
  </flow>
  

</mule>
