src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:jive="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-jive"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://repository.mulesoft.org/releases/org/mule/modules/mule-module-jive http://repository.mulesoft.org/releases/org/mule/modules/mule-module-jive/1.0-SNAPSHOT/mule-jive.xsd">

<!--      <flow name="deleteBlog"> -->
<!--        <jive:delete type="BLOG" id="#[map-payload:blogId]" />-->
<!--     </flow> -->

<!--     <jive:config username="myUsername" password="password" gatewayUri="lalalalla"/> -->

<!--     <flow name="createBlog"> -->
<!-- 	<jive:create service="BLOG"> -->
<!-- 		<jive:entity> -->
<!-- 			<creationDate>sajdahdk</creationDate> -->
<!-- 			<author>#[variable:author]</author> -->
<!-- 		</jive:entity> -->
<!-- 	</jive:create> -->
<!-- </flow> -->
    
<!-- 	<flow name="createBlog"> -->
<!--         <jive:execute operation="IS_USER_ACTIVE"> -->
<!--         	<jive:entity> -->
<!--         		<creationDate>sajdahdk</creationDate> -->
<!--         		<author>#[header:author]</author> -->
<!--         	</jive:entity> -->
<!--         </jive:create> -->
<!--     </flow> -->
 
    <!-- 
    get
    getAll
    delete
    count
    update
    CRUD
    
    
     -->
    
<!--     <flow name="addAttachment"> -->
<!--         <jive:execute type="ADD_ATTACHMENT_TO_BLOG"> -->
<!--         	<jive:entity> -->
<!--         	    <blogPostID>fdsfsdfsd</blogPostID> -->
<!-- 			    <name>fdsfsdf</name> -->
<!-- 			    <source>#[groovy: [ 'sssddasd', 'sadas' ].collect( { x -> x.getBytes() }  )  ]</source> -->
<!--         	</jive:entity> -->
<!--         </jive:create> -->
<!--     </flow> -->
    
<!--     <flow name="createBlog"> -->
<!--         <jive:execute operation="IS_USER_ACTIVE" id="dsad"/> -->
<!--     </flow> -->

</mule>
