src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Jive Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:jive="http://www.mulesoft.org/schema/mule/jive"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/jive http://www.mulesoft.org/schema/mule/jive/1.0/mule-jive.xsd
        ">

     <jive:config username="myUsername" password="password" gatewayUri="lalalalla"/> 

        <flow name="countAvatars">
          <jive:count type="AVATAR" />
        </flow>
        
        <flow name="getAvatar">
          <jive:get type="AVATAR" id="#[map-payload:avatarId]"/>
        </flow>
        
        <flow name="deleteBlog"> 
          <jive:delete type="BLOG" id="#[map-payload:blogId]" />
       </flow> 


<!--  <flow name="createBlog">-->
<!--    <jive:create entityType="BLOG">-->
<!--      <jive:entity>-->
<!--        <creationDate>sajdahdk</creationDate>-->
<!--        <author>#[variable:author]</author>-->
<!--      </jive:entity>-->
<!--    </jive:create>-->
<!--  </flow>-->
<!---->
<!--  <flow name="updateBlog">-->
<!--    <jive:update entityType="BLOG">-->
<!--      <jive:entity>-->
<!--        <author>#[variable:author]</author>-->
<!--      </jive:entity>-->
<!--    </jive:update>-->
<!--  </flow>-->

  <!-- -->
  <!--     -->
  <!--    get-->
  <!--    getAll-->
  <!--    delete-->
  <!--    count-->
  <!--    update-->
  <!--    CRUD-->
  <!--    -->
  <!--    -->
  <!--     -->
  <!--    -->

<!--  <flow name="addAttachment">-->
<!--    <jive:execute type="ADD_ATTACHMENT_TO_BLOG">-->
<!--      <jive:entity>-->
<!--        <blogPostID>fdsfsdfsd</blogPostID>-->
<!--        <name>fdsfsdf</name>-->
<!--        <source>#[groovy: [ 'sssddasd', 'sadas' ].collect( { x ->-->
<!--          x.getBytes() } ) ]</source>-->
<!--      </jive:entity>-->
<!--    </jive:create>-->
<!--  </flow>-->
      
<!--  <flow name="createBlog">-->
<!--    <jive:execute operation="IS_USER_ACTIVE" id="dsad" />-->
<!--  </flow>-->
</mule>
